@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&family=Raleway:wght@400;500;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;

}
.user-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.email-box {
    height: 40px;
    width: 85%;
    border-radius: 20px;
    border: solid;
    border-color: rgb(164, 159, 159);
    padding-left: 20px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    
}

.candidate-radio {
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 20px;
    display: block;
    justify-content: center;
    align-items: center;

    font-size: 17px;
    width: 100%;
    background-color: rgb(241, 239, 235);
    border-radius: 50px;
    transition: 0.3s;

}


.candidate-radio.selected {
    background-color: #7c5a3e;
}

.candidate-radio > label {
    display: inline;
}

.candidate-radio input[type="radio"] {
    display: none;
}

.vote-form {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
}

.vote-form > ul {
    padding: 0;
    margin: 0;
    width: 60%;
    /* Add any other styles specific to the <ul> here */
}
.vote-button {
    font-family: Poppins, sans-serif;
    border: none;
    border-radius: 40px;
    width: 40%;
    font-size: 17px;
    padding: 10px;
    transition: 0.3s;
    margin-top: 50px;
}
.vote-button:hover{
    background-color: #7c5a3e;
    color: white;
    
}
.vote-button:active{
    background-color: #000000;
    color: white;
}
.submit-message {
    font-family: Poppins, sans-serif;
    font-size: 17px;
    color: #7c5a3e;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.header-text{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.closed-election{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Poppins, sans-serif;
    font-size: 17px;

}
